@import '../../../global/globalCssVariables';

.nodeHeader {
  display: flex;
  gap: 10px;
  font-size: 30px;
  font-weight: 500;
  padding: 10px;
  padding-left: 20px;
  justify-content: left;
  align-items: center;
  border-bottom: $standard-border;
  overflow: hidden;
  width: 100%;
  background-color: $primary-background-color;
  z-index: 3;

  .nodeHeader-title {
    font-weight: 600;
    min-width: fit-content;
  }

  .nodeHeader-buttonBar {
    gap: 10px;
    display: flex;
    height: 50px;
    width: fit-content;
    position: relative;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5px;

    .select {
      width: 80px;
      margin-top: -10px;
      cursor: pointer;
    }
  }
}

.heroContainer {
  position: relative;
  padding-bottom: 0px;
  margin: 0;

  .hero {
    width: 100%;
    // background: url(https://img.freepik.com/free-vector/gradient-ui-ux-elements-background_23-2149056159.jpg?w=2000);
    filter: brightness(0.6);
    // min-height: 600px;
    height: 200px;
    object-fit: cover;
  }

  .heroContent {
    padding: 0 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 40%;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: left;

    div {
      align-self: flex-end;

      .heroTitle {
        font-size: 40px;
        font-weight: 700;
        font-style: bold;
        text-align: left;
        padding-bottom: 0px;
      }

      .heroRating {
        // font-size: 30px;
        // font-weight: 600;
        // text-align: left;
      }
    }
  }
}

.restaurantButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  // gap: 20px;
  // width: 50%;
}
